## GENERAL
# backup files
*.orig
*.bak
*~
*.swp
# leftovers
CMakeCache.txt
CMakeFiles
# tags files
tags
TAGS
GPATH
GRTAGS
GTAGS
.vscode

## SPECIFIC
# data
data/basis.db
data/find.db
# documentation
doc/doxygen/*.log
doc/doxygen/*tmp
doc/doxygen/html
doc/latexdoc/**/*.aux
doc/latexdoc/**/*.bbl
doc/latexdoc/**/*.blg
doc/latexdoc/**/*.fdb_latexmk
doc/latexdoc/**/*.fls
doc/latexdoc/**/*.idx
doc/latexdoc/**/*.ilg
doc/latexdoc/**/*.ind
doc/latexdoc/**/*.lof
doc/latexdoc/**/*.log
doc/latexdoc/**/*.lot
doc/latexdoc/**/*.out
doc/latexdoc/**/*.pdf
doc/latexdoc/**/*.toc
doc/latexdoc/**/programs.tex
!doc/latexdoc/**/fragment.pdf
!doc/latexdoc/**/ubar.pdf
# tinker
/tinker-*.tar
/tinker
/tinker*/
#Python
*__pycache__*
# build products
/build*
