## GENERAL
# backup files
*.orig
*.bak
*~
*.swp
# leftovers
build
CMakeCache.txt
CMakeFiles
# tags files
tags
TAGS
GPATH
GRTAGS
GTAGS

#IDEs
.vscode
.idea

# MacOS
.DS_Store

## SPECIFIC
# data
data/basis.db
data/find.db
# documentation
doc/doxygen/*.log
doc/doxygen/*tmp
doc/doxygen/html
# tinker
/tinker-*.tar.gz
/tinker-*.tar
/tinker
/tinker*/
#Python
*__pycache__*
