[submodule "External/libmsym"]
	path = External/libmsym
	url = https://github.com/mcodev31/libmsym.git
[submodule "External/NECI"]
	path = External/NECI
	url = https://github.com/ghb24/NECI_STABLE.git
[submodule "External/libwfa"]
	path = External/libwfa
	url = https://github.com/libwfa/libwfa.git
[submodule "External/efp"]
	path = External/efp
	url = https://github.com/ilyak/libefp.git
[submodule "External/lapack"]
	path = External/lapack
	url = https://github.com/Reference-LAPACK/lapack-release.git
	branch = lapack-3.7.1
[submodule "External/grid_it"]
	path = External/grid_it
	url = https://git.code.sf.net/p/gridit/code
