## GENERAL
# backup files
*.orig
*.bak
*~
*.swp
# leftovers
CMakeCache.txt
CMakeFiles
# tags files
tags
TAGS
GPATH
GRTAGS
GTAGS
.vscode

## SPECIFIC
# data
data/basis.db
data/find.db
# documentation
doc/doxygen/*.log
doc/doxygen/*tmp
doc/doxygen/html
# tinker
/tinker-*.tar.gz
/tinker-*.tar
/tinker
/tinker*/
#Python
*__pycache__*

build*
